.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 434px;
  max-width: 100%;

  @media screen and (max-width: $breakpoint-tablet) {
    width: 100%;
    max-width: unset;
  }

  .flex > * {
    flex: 1;
  }
  
  .submit {
    width: 100%;
  }
}