.dialog [class~=MuiPaper-root]:not([class~=MuiAppBar-root]) {
  border-radius: 32px;

  @media screen and (max-width: $breakpoint-tablet) {
    border-radius: 0;
  }

  .title {
    color: #303030;
    font-family: 'Gilroy', 'Roboto', 'Open Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%; /* 20.25px */
    letter-spacing: 0.15px;
  }

  .price {
    color: #303030;
    font-family: $fonts;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    margin-bottom: 20px;
  }

  .title, 
  .dialogContent {
    padding: 32px;
  }

  .title {
    padding-bottom: 0;
  }

  .dialogContent {
    padding-top: 0;
    display: flex;
    flex-direction: column;
  }
}

.error,
.success {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .errorTitle,
  .successTitle {
    font-family: 'Gilroy', 'Roboto', 'Open Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
  }
  
  .errorTitle {
    color: darkred;
  }
  
  .successTitle {
    color: hsl(100, 100%, 27%);
  }
}

.spinner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}