.dialog [class~=MuiPaper-root] {
  padding: 32px;
  border-radius: 32px;

  .title {
    color: #303030;
    font-family: 'Gilroy',;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%; /* 20.25px */
    letter-spacing: 0.15px;
  }

  .price {
    color: #303030;
    font-family: $fonts;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    margin-bottom: 20px;
  }
}